.headpart {
  &__left {
    &-icon {
    }
    &-text {
    }
  }
  &__right {
    transition: all 400ms ease;
    color: white;
    &:hover {
      transform: translateY(-0.3rem);
      color: rgba(0, 0, 0, 0.63);
    }
  }
}
