.relcoursespart {
  box-shadow: 0rem 0rem 1rem 0.001rem $subtitle;
  position: relative;
  &__top {
    &.special {
      &::after {
        content: "";
        position: absolute;
        top: 2.1rem;
        left: 0;
        bottom: 0;
        width: 2.5rem;
        height: 2.5rem;
        background-color: $purple;
        opacity: 0.6;
        z-index: -1;
        clip-path: polygon(0% 0%, 60% 0%, 100% 50%, 50% 100%, 0% 100%);
      }
    }
  }
  &__bottom {
    & > ol {
      & > a {
        transition: all 400ms ease;
        &:hover {
          color: $purple;
        }
        & > span:first-child {
          max-width: 10rem;
        }
      }
    }
  }
}
