.shopstatus {
  & > .optional {
    & .icon {
      visibility: hidden;
    }
    &.active {
      & > div {
        background-color: $purple;
        & .icon {
          visibility: visible;
        }
      }
    }
    width: fit-content;
    & > div {
      width: 4rem;
      height: 4rem;
      & > span {
        font-weight: bolder;
        width: fit-content;
        height: fit-content;
        @include responsive(found) {
          top: 1rem;
        }
        @include responsive(tablet) {
          top: 5rem;
        }
        margin: unset;
        white-space: nowrap;
      }
    }
  }
  & .inner {
    & > div {
      @include responsive(found) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      @include responsive(tablet) {
        display: unset;
        justify-content: unset;
        align-items: unset;
      }
      & > span {
        @include responsive(found) {
          width: 0.5rem;
          height: 3rem;
        }
        @include responsive(tablet) {
          width: unset;
          height: 0.5rem;
        }
      }
    }
  }
  &__first {
  }
  &__second {
    & span {
      @include responsive(found) {
        left: 5rem;
      }
      @include responsive(tablet) {
        left: -4rem;
      }
    }
  }
  &__third {
  }
  &__fourth {
    & span {
      @include responsive(found) {
        left: 5rem;
      }
      @include responsive(tablet) {
        left: -2.3rem;
      }
    }
  }
  &__fifth {
  }
  &__sixth {
    & span {
      @include responsive(found) {
        left: 5rem;
      }
      @include responsive(tablet) {
        left: -0.9rem;
      }
    }
  }
  &__seventh {
  }
  &__eighth {
    & span {
      @include responsive(found) {
        left: 5rem;
      }
      @include responsive(tablet) {
        left: -4.5rem;
      }
    }
  }
  &__ninth {
  }
}
