.shopstatus {
  & > .optional {
    & .icon {
      visibility: hidden;
    }
    &.active {
      & > div {
        background-color: $purple;
        & .icon {
          visibility: visible;
        }
      }
    }
    width: fit-content;
    & > div {
      width: 4rem;
      height: 4rem;
      & > span {
        font-weight: bolder;
        width: fit-content;
        height: fit-content;
        top: 5rem;
        margin: unset;
        white-space: nowrap;
      }
    }
  }
  & .inner {
    & > div {
      width: 2rem;
      height: 0.2rem;
      & > span {
        width: 100%;
        height: 100%;
      }
    }
  }
  &__first {
  }
  &__second {
    & span {
      left: -4rem;
    }
  }
  &__third {
  }
  &__fourth {
    & span {
      left: -2.3rem;
    }
  }
  &__fifth {
  }
  &__sixth {
    & span {
      left: -0.9rem;
    }
  }
  &__seventh {
  }
  &__eighth {
    & span {
      left: -4.5rem;
    }
  }
  &__ninth {
  }
}
