.vertical {
  @include responsive(desktop) {
    width: unset;
    max-width: unset;
    width: 90% !important;
  }
  &.special {
    @include responsive(found) {
      flex-direction: column-reverse;
    }
    @include responsive(laptop) {
      flex-direction: unset;
    }
  }
  &__left {
  }
  &__right {
    position: sticky;
    height: min-content;
    @include responsive(found) {
      top: 19.6rem;
    }
    @include responsive(phonesm) {
      top: 17.2rem;
    }
    @include responsive(phonexl) {
      top: 16.6rem;
    }
    @include responsive(tablet) {
      top: 23.7rem;
    }
    @include responsive(tabletlg) {
      top: 16rem;
    }
    &.special {
      @include responsive(found) {
        position: unset;
        height: unset;
      }
      @include responsive(laptop) {
        position: sticky;
        height: min-content;
      }
    }
  }
}
