.cart {
  &__middle {
    &-top {
      border: 1rem solid white;
      & > tbody {
        border: 0.1rem solid $subtitle;
      }
      & th {
        color: white;
        background-color: $purple;
        text-align: center;
      }
      & td {
        text-align: center;
        & > button {
          background-color: unset;
          border: unset;
          outline: unset;
        }
      }
    }
    &-bottom {
    }
  }
  &__bottom {
    &-left {
      background-color: $subtitle;
      &:hover {
        transform: translateX(-0.3rem);
        background-color: $purple;
      }
    }
    &-right {
      background-color: $green;
      &:hover {
        transform: translateX(0.3rem);
        background-color: $purple;
      }
    }
  }
}
