//! --------------------------------------- Root
:root {
  --bs-body-bg: white;
}
//! --------------------------------------- All
* {
  direction: ltr;
  text-transform: capitalize;
  text-decoration: none !important;
  box-sizing: border-box;
}
//! --------------------------------------- Html
html {
  font-size: $default-font;
  //? ------------------------------------- 0 px-288 px (xs)  (0 em)
  @include responsive(found) {
    font-size: 40%;
  }
  //? ------------------------------------- 288 px-384 px (xxxsm)  (18 em)
  @include responsive(phonesm) {
    font-size: 50%;
  }
  //? ------------------------------------- 384 px-480 px (xxsm)  (24 em)
  @include responsive(phonemd) {
    font-size: 51%;
  }
  //? ------------------------------------- 480 px-576 px (xsm)  (30 em)
  @include responsive(phonelg) {
    font-size: 52%;
  }
  //? ------------------------------------- 576 px-768 px (SM)  (36 em)
  @include responsive(phonexl) {
    font-size: 56%;
  }
  //? ------------------------------------- 768 px-992 px (MD)  (48 em)
  @include responsive(tablet) {
    font-size: 57%;
  }
  //? ------------------------------------- 992 px-1200 px (LG)  (62 em)
  @include responsive(tabletlg) {
    font-size: 58%;
  }
  //? ------------------------------------- 1200 px-1400 px (XL)  (75 em)
  @include responsive(laptop) {
    font-size: 62.5%;
  }
  //? ------------------------------------- 1400 px-1800 px (XXL)  (87.5 em)
  @include responsive(desktop) {
    font-size: 70%;
  }
  //? ------------------------------------- 1800 px-3840 px (XXXL)  (112.5 em)
  @include responsive(desktoplg) {
    font-size: 87%;
  }
  //? ------------------------------------- 3840 px < ... (XXXXL)  (240 em)
  @include responsive(desktopbg) {
    font-size: 150%;
  }
}
//! --------------------------------------- Body
body {
  // --bs-body-color: rgb(12, 12, 12);
  --bs-body-line-height: 1.5;
  --bs-body-font-weight: normal;
  // --bs-body-font-size: $default-font;
  --bs-body-font-family: "Trebuchet MS" !important; //! Arial
}
//! --------------------------------------- Svg & Others
a {
  color: black;
}
svg {
  font-size: 2rem;
}
ul,
li,
ol {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
pre,
p,
hr,
td,
th,
tr,
table,
mark,
button {
  margin: 0 !important;
  padding: 0 !important;
}
pre,
select,
option {
  font-family: "Trebuchet MS" !important; //! Arial
}
