.head {
  &__bottom {
    box-shadow: 0rem 0rem 1rem 0.001rem $subtitle;
    &-left {
      & > a:first-child {
        color: $purple;
        background-color: #f5e6f7;
        transition: all 400ms ease;
        &:hover {
          color: white;
          background-color: $purple;
        }
      }
      & > p {
        text-align: justify;
      }
      & > div:last-child > a {
        color: $subtitle;
        transition: all 400ms ease;
        &:hover {
          color: $purple;
        }
      }
    }
    &-right {
      cursor: pointer;
      box-shadow: 0rem 0rem 1rem 0.5rem $subtitle;
      transition: all 1000ms ease;
      &:hover {
        box-shadow: 0rem 0rem 1rem 1rem $subtitle;
      }
    }
  }
}
