.vertical {
  &__left {
    &-courseinfo {
      &-top {
        & > div.body {
          & > div.main {
            cursor: pointer;
            box-shadow: 0rem 0rem 1rem 0.01rem $subtitle;
            transition: all 400ms ease;
            &:hover {
              transform: translateY(-0.5rem);
            }
          }
        }
      }
      &-bottom {
        & > .top {
        }
        & > .bottom > div {
          width: 90%;
        }
      }
    }
  }
  &__right {
  }
}
