.landing {
  background: linear-gradient(
      180deg,
      rgba(63, 179, 214, 0.37),
      rgba(0, 0, 0, 0.7)
    ),
    url("../../public/Images/Landing/FinalBackGround.webp") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  &__body {
    backdrop-filter: blur(0.2rem) brightness(85%);
    &-left {
      display: flex;
      justify-content: center;
      align-items: end;
      &-background {
        height: 60rem;
        width: 60rem;
        background-color: #28292d;
        & > div {
          background: url("../../public/Images/Landing/Hoodie-guy.webp")
            no-repeat;
          background-size: contain;
          background-position: 50% 50%;
          & > div {
            position: relative;
            top: 15rem;
            width: 10rem;
            height: 10rem;
            transform-origin: center;
            transform-style: preserve-3d;
            animation: animatedCircle 40s linear infinite;
            & > span {
              transform: rotateY(calc(var(--i) * 24deg)) translateZ(25rem);
              position: absolute;
              width: 100%;
              height: 100%;
              background-color: #28292d;
              @include centerizetag();
              border-radius: 100%;
              & > .icon {
                font-size: 5rem;
                color: white;
              }
            }
          }
        }
      }
    }
    &-right {
      &-link {
        color: white;
        transition: all 400ms ease;
        &:hover {
          color: rgba(0, 0, 0, 0.63);
        }
      }
      &-options > ol > span:first-child {
        display: flex;
        width: 4rem;
        height: 4rem;
      }
    }
  }
}

//! --------------------------------------- Key Frame ( animatedCircle )
@keyframes animatedCircle {
  0% {
    transform: perspective(1000px) rotateY(0deg) rotateX(10deg)
      translateY(-30px);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg) rotateX(10deg)
      translateY(-30px);
  }
}
