.articlecard {
  &__main {
    box-shadow: 0rem 0rem 1rem 1rem rgba(70, 71, 73, 0.1);
    &-top {
      width: 100%;
      & > img {
        &.first {
          @include responsive(desktoplg) {
            content: url("../../Images/3-Page Article Details/4-600.webp") !important;
          }
        }
        &.second {
          @include responsive(desktoplg) {
            content: url("../../Images/3-Page Article Details/3-600.webp") !important;
          }
        }
        &.third {
          @include responsive(desktoplg) {
            content: url("../../Images/3-Page Article Details/1-600.webp") !important;
          }
        }
      }
    }
    &-bottom {
      &-subject {
      }
      &-passage {
      }
      &-link {
        color: $purple;
        transition: all 400ms ease;
        &:hover {
          color: white;
          background-color: $purple;
        }
      }
    }
  }
}
