.commentpart {
  box-shadow: 0rem 0rem 1rem 0.001rem $subtitle;
  &__head {
  }
  &__note {
  }
  &__type {
  }
  &__textbox {
    outline: none;
    min-height: 20rem;
  }
  &__submit {
    transition: all 400ms ease;
    &:hover {
      transform: translateY(-0.3rem);
    }
  }
}
