.header {
  &__top {
    &-left {
      &-item {
        & > a {
          transition: all 400ms ease;
          &:hover {
            color: $purple;
          }
        }
      }
    }
    &-right {
      &-link {
        transition: all 400ms ease;
        &:hover {
          color: $purple;
        }
      }
    }
  }
  &__bottom {
    &-left {
      &-ul {
        & > li > a {
          transition: all 400ms ease;
          &:hover {
            color: $purple;
          }
        }
      }
    }
    &-right {
      &-shop {
        transition: all 400ms ease;
        & > span {
          width: 2.4rem;
          height: 2.4rem;
          border-radius: 100%;
          top: -25%;
          right: -25%;
        }
        &:hover {
          color: $purple;
        }
      }
      &-log {
        transition: all 400ms ease;
        color: $purple;
        &:hover {
          background-color: $purple;
          color: white;
        }
      }
    }
  }
}
