.loginbox {
  box-shadow: 0rem 0rem 1rem 0.001rem $subtitle;
  &__boxbody {
    z-index: -1;
    bottom: -1rem;
  }
  &__head {
  }
  &__signup {
    & > h2 {
    }
    & > a {
      color: white;
      background-color: $subtitle;
      transition: all 400ms ease;
      &:hover {
        background-color: $purple;
      }
    }
  }
  &__inputs {
    &-email {
      &:focus-within .icon1 {
        color: $purple;
      }
    }
    &-password {
      &:focus-within .icon2 {
        color: $purple;
      }
    }
    & input {
      &:focus-visible {
        outline: 0.2rem solid $purple;
      }
    }
    & .icon {
      right: 2.2rem;
    }
  }
  &__button {
    color: white;
    transition: all 400ms ease;
    &:hover {
      color: $hover;
      transform: translateX(0.2rem);
    }
    & > .icon {
      right: 1.6rem;
    }
  }
  &__checkbox {
    cursor: pointer;
    &-left {
      &--left {
        & > input {
          cursor: pointer;
        }
      }
      &--right {
      }
    }
    &-right {
      &:hover {
        color: $purple;
      }
    }
  }
  &__explanation {
    & > .marker {
      list-style: disc !important;
      &::marker {
        color: $purple;
      }
    }
  }
}
